{{ define "main" }}
<main class="pad-regular">
  {{/*
  <div id="projects-title">PROJECTS</div>
  */}}

  <table id="projects-table">
    <tr>
      <th class="projects-title">Project</th>
      <th class="projects-date">Date</th>
      <th class="projects-category">Category</th>
      <th class="projects-role">Role</th>
    </tr>
    {{ range .Paginator.Pages }}

    <tr class="{{ if .Params.hasfullpage }}cursor-pointer{{end}}">
      <td class="projects-title"><a  {{ if .Params.hasfullpage }}href="{{.Permalink}}"{{end}}>
        {{ .Title }}
        {{ if .Params.hasfullpage }}
          <span class="projects-open-cta">
            - OPEN PAGE
          </span>
        {{end}}
      </a></td>
      {{ $t := time.AsTime .Params.date }}
      <td class="projects-date">{{ time.Format "January 2006" $t }}</td>
      
      <td class="projects-category">{{.Params.category}}</td>
      <td class="projects-role">{{.Params.role}}</td>
      <td>
      {{ range first 1 .Params.images}} 
        <img
          src="{{ .image }}"
          width="512"
          class="projects-hover-img"
        />
      {{ end }}
    </td>
      {{/*
      <div>{{ .Description }}</div>
      */}}
    </tr>
    {{ end }}
  </table>
</main>

<script>
  console.log('hello')
  const table = document.getElementById('projects-table');
  const rows = table.querySelectorAll('tr');
  for (let i = 0; i < rows.length; i++){
    const row = rows[i];
    const a = row.querySelector('a'); 
    if (a && a.href){
      console.log(a.href)
      row.onclick = () => {
        window.open(a.href)
      }
    }
   
  }
</script>

{{ end }}

