{{ define "main" }}
<main class="pad-regular">
  {{/*
  <div id="projects-title">PROJECTS</div>
  */}}

  <table id="projects-table">
    <tr>
      <th class="projects-title">Project</th>
      <th class="projects-date">Date</th>
      <th class="projects-category">Category</th>
      <th class="projects-client">Client</th>
    </tr>
    {{ range .Paginator.Pages }}

    <tr class="{{ if .Params.hasfullpage }}cursor-pointer{{end}}">
      <td class="projects-title">
        <a {{ if .Params.hasfullpage }}href="{{.Permalink}}" {{end}}>
          {{ .Title }} {{ if .Params.hasfullpage }}
          <span class="projects-open-cta"> - OPEN PAGE </span>
          {{end}}
        </a>
      </td>
      {{ $t := time.AsTime .Params.date }}
      <td class="projects-date">{{ time.Format "January 2006" $t }}</td>

      <td class="projects-category">{{.Params.category}}</td>
      <td class="projects-client">{{.Params.client}}</td>
      <td class="projects-images">
        {{ $imgCount := math.Min 5 (len .Params.images) }} {{ range first
        $imgCount .Params.images}}
        <img src="{{ .image }}" width="300" class="projects-hover-img" />
        {{ end }}
      </td>
      {{/*
      <div>{{ .Description }}</div>
      */}}
    </tr>
    {{ end }}
  </table>
</main>

<script>
  console.log("hello");
  const table = document.getElementById("projects-table");
  const rows = table.querySelectorAll("tr");
  for (let i = 0; i < rows.length; i++) {
    const row = rows[i];
    const a = row.querySelector("a");
    if (a && a.href) {
      console.log(a.href);
      row.onclick = () => {
        window.open(a.href);
      };
    }
  }

  const handleImages = () => {
    const containers = document.querySelectorAll(".projects-images");
    for (let i = 0; i < containers.length; i++) {
      var positions = [];
      const images = containers[i].children;
      for (let j = 0; j < images.length; j++) {
        var coords = {
          w: 300,
          h: 250,
        };
        var success = false;
        let count = 0;
        if (images.length > 3 && j > images.length - 2) {
          success = true;
          images[j].remove();
        }
        while (!success) {
          console.log(this);
          coords.x = parseInt(Math.random() * (window.innerWidth - coords.w));
          coords.y = parseInt(Math.random() * (window.innerHeight - coords.h));
          var success = true;
          positions.forEach((p) => {
            if (
              coords.x <= p.x + p.w &&
              coords.x + coords.w >= p.x &&
              coords.y <= p.y + p.h &&
              coords.y + coords.h >= p.y
            ) {
              success = false;
            }
          });
          count++;
          if (count === 100 || count === 2000 || count === 3000) {
            this.w *= 0.9;
            this.h *= 0.9;
          }
          if (count > 4000) {
            success = true;
            images[j].remove();
          }
        }
        positions.push(coords);
        if (images[j])
          images[j].style = `top: ${coords.y}px; left: ${coords.x}px;`;
      }
    }
  };

  handleImages();
</script>

{{ end }}
